.add-comment-form {
	.title {
		font-size: 1.4rem;
		margin: 0 0 0.4rem 0;
	}

	.error {
		margin: 0.5rem 0 0 0;
		color: rgba(225, 43, 43, 0.89);
	}

	button.comment-button {
		margin: 0.3rem 0 0 0;
	}
}
